:root {

  --primary-color: rgb(0, 172, 210);

  --secondary-color: rgb(0, 121, 150);

  --tertiary-color: rgb(0, 95, 118);

}

/* Login */
.login-main-page {
  align-items: center;
  background-color: rgb(249 249 245);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-logo-container {
  margin-bottom: 40px;
  text-align: center;
}

.login-content {
  align-items: center;
  background-color: rgb(255 255 251);
  border-radius: 8px;
  box-shadow: 0 3px 7px 1px lightgrey;
  display: flex;
  flex-direction: column;
  height: 220px;
  justify-content: center;
  padding: 70px 60px;
  width: 500px;
}

.login-input {
  border: 1px solid lightgrey;
  border-radius: 2px;
  font-size: large;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.login-button {
  background-color: var(--secondary-color);
  border: 1px solid gray;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  margin-top: 20px;
  padding: 10px 30px;
  width: 100%;
}

.login-button:hover {
  background-color: var(--primary-color);
}

.login-button:disabled {
  background-color: gray;
  cursor: default;
}

/* Loading */
.loading {
  align-items: center;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Header */
.header-content {
  align-items: center;
  background-color: var(--tertiary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-links {
  display: flex;
  width: 100%;
}

.header-logo {
  align-items: center;
  display: flex;
  height: 100px;
  margin-left: 40px;
}

.header-logo img {
  height: 50px;
}

.header-links a {
  align-content: center;
  background-color: rgb(240, 242, 245);
  border-left: 2px solid white;
  border-right: 2px solid white;
  color: var(--primary-color);
  flex-grow: 1;
  font-size: 15px;
  font-weight: 800;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

.header-links a:hover {
  background-color: var(--tertiary-color);
  color: white;
}

header .active {
  background-color: var(--secondary-color);
  border: none;
  color: rgb(240, 242, 245);
}

.logo-and-name-content {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.user-container {
  align-items: center;
  background-color: white;
  border-radius: 25px;
  display: flex;
  height: 50px;
  margin-right: 40px;
  padding: 0 8px;
}

.user-image {
  background-color: var(--primary-color);
  border-radius: 25px;
  height: 40px;
  width: 40px;
}

.profile-image {
  align-self: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 20px 0;
  width: 120px;
}

.user-name-paragraph {
  color: var(--tertiary-color);
  padding: 0 30px;
}

.page-profile p {
  margin: 0 0 1em;
}

.profile-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.profile-button {
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 15px;
}

.profile-button:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.title-content {
  margin-bottom: 30px;
}

.title-content b {
  font-weight: 800;
}

.title-content p {
  margin: 2px 0;
  max-width: 400px;
}

.edit-input, .edit-input-textarea {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 10px;
}

.edit-input-textarea {
  height: 100px;
}

.buttons-content {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
  padding-bottom: 10px;
}

/* Search */
.search-input-content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.input-area {
  background-image: url('./assets/search_icon.png');
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  height: 40px;
  margin: 0 10px;
  padding: 10px 15px;
  width: 500px;
}

.input-area:focus {
  border-color: black;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.search-button {
  background-color: var(--secondary-color);
  border: 1px solid lightgrey;
  border-radius: 3px;
  color: white;
  height: 40px;
  padding: 8px 20px;
}

.search-button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.search-button:disabled {
  background-color: gray;
  cursor: default;
}

.albums-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 80px;
}

.album-card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album-card {
  align-items: center;
  background-color: rgb(240, 242, 245);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: flex-start;
  margin: 5px;
  width: 300px;
}

.album-card img {
  height: 60%;
}

.album-card p {
  margin: 5px 0 7px;
  text-align: center;
}

.album-collection-name {
  font-weight: 700;
}

.album-button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 15px;
  color: white;
  margin-top: 10px;
  padding: 5px 15px;
}

.album-button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

/* Album */
.music-card {
  align-items: center;
  border-top: 1px solid rgb(240, 242, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
}

.track-name {
  text-align: left;
  width: 100%;
}

.track-name p {
  margin: 0;
  margin-bottom: 7px;
}

.player-and-checker {
  align-items: center;
  display: flex;
  justify-content: center;
}

.checker {
  margin: 0 10px;
}

.checker p {
  display: inline-block;
  margin-left: 7px;
}

.musics-page-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album-title-container {
  align-self: flex-start;
  height: 100%;
  width: 500px;
}

.album-title-content {
  position: fixed;
  top: 40%;
}

.album-title-content img {
  margin-bottom: 5px;
  width: 250px;
}

.album-title-content p {
  margin: 0 0 5px;
}

.album-title-content p:nth-last-child( 1 ) {
  font-weight: 400;
}
